<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PROYECTONINJA.Properties.Settings.Valor" connectionString="Data Source=DESKTOP-S99UIRJ;Initial Catalog=score;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>